@model SionFashioWebApplicationMVC.Models.alertas_stock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>alertas_stock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivel_minimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivel_minimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_alerta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_alerta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_productoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_productoNavigation.id_producto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_alerta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
