@model SionFashioWebApplicationMVC.Models.alertas_stock

@{
    ViewData["Title"] = "Detalles ";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Detalles de Alerta de Stock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nivel_minimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nivel_minimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_alerta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fecha_alerta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_productoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_productoNavigation.id_producto)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_alerta" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
