@model IEnumerable<SionFashioWebApplicationMVC.Models.alertas_stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Alertas de Stocks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nivel_minimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_alerta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_productoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nivel_minimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_alerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_productoNavigation.id_producto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_alerta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_alerta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_alerta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
