@model SionFashioWebApplicationMVC.Models.usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clave_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clave_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_rolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_rolNavigation.id_rol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.id_usuario">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
