@model IEnumerable<SionFashioWebApplicationMVC.Models.usuario>

@{
    ViewData["Title"] = "Index";

    // Definir funciones auxiliares para usar nombres cortos
    Func<usuario, string> nombreUsuario = u => u.nombre_usuario;
    Func<usuario, string> claveUsuario = u => u.clave_usuario;
    Func<usuario, int> idRol = u => u.id_rolNavigation.id_rol;
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Clave</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@nombreUsuario(u)</td>
                <td>@claveUsuario(u)</td>
                <td>@idRol(u)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@u.id_usuario">Edit</a> |
                    <a asp-action="Details" asp-route-id="@u.id_usuario">Details</a> |
                    <a asp-action="Delete" asp-route-id="@u.id_usuario">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
