@model SionFashioWebApplicationMVC.Models.factura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_emision_factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_emision_factura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sub_total_factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sub_total_factura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.impuesto_factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.impuesto_factura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_factura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_clienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_clienteNavigation.id_cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary"      asp-route-id="@Model?.id_factura">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
