@model SionFashioWebApplicationMVC.Models.tienda

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estas seguro de querer eliminar la tienda?</h3>
<div>
    <h4>tienda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre tienda
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_tienda)
        </dd>
        <dt class = "col-sm-2">
            Telefono tienda
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono_tienda)
        </dd>
        <dt class = "col-sm-2">
            Ubicacion tienda
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ubicacion_tienda)
        </dd>
        <dt class = "col-sm-2">
            Ciudad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_ciudadNavigation.nombre_ciudad)
        </dd>
        <dt class = "col-sm-2">
            Empresa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_empresaNavigation.nombre_empresa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_tienda" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
    </form>
</div>
