@model SionFashioWebApplicationMVC.Models.tienda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tienda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_tienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_tienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono_tienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono_tienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ubicacion_tienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ubicacion_tienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_ciudadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_ciudadNavigation.id_ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_empresaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_empresaNavigation.id_empresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_tienda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
