@model IEnumerable<SionFashioWebApplicationMVC.Models.tienda>

@{
    ViewData["Title"] = "Index";
}

<h1>Tiendas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_tienda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono_tienda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ubicacion_tienda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_ciudadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_empresaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_tienda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono_tienda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ubicacion_tienda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_ciudadNavigation.id_ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_empresaNavigation.id_empresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_tienda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_tienda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_tienda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#clientesTable').DataTable({
                // Puedes personalizar la configuración aquí
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/es.json' // Configuración en español
                }
            });
        });
    </script>
}
