@model IEnumerable<SionFashioWebApplicationMVC.Models.inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventario</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stock_inicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock_actual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_productoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stock_inicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_actual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_productoNavigation.id_producto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_producto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_producto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_producto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
