@model SionFashioWebApplicationMVC.Models.ordenes_producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ordenes_producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_orden_compra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_orden_compraNavigation.id_orden_compra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_productoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_productoNavigation.nombre_producto)
        </dd>
    </dl>
</div>
<div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id_orden_compra = Model.id_orden_compra, id_producto = Model.id_producto }, new { @class = "btn btn-primary" }) |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>


</div>
