@model SionFashioWebApplicationMVC.Models.empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div >
    <div >
        Detalles de la empresa
    </div>
    <div >
        <dl class="row">
            <dt class="col-sm-3">Nombre de la empresa</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.nombre_empresa)</dd>

        </dl>
         <dl class="row">
            <dt class="col-sm-3">Direccion de la empresa</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.direccion_empresa)</dd>

        </dl>
        <dl class="row">
            <dt class="col-sm-3">Telefono de contaco</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.telefono_empresa)</dd>

        </dl>
        <dl class="row">
            <dt class="col-sm-3">Email de la empresa</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.email_empresa)</dd>

        </dl>
    </div>
    <div >
        <a asp-action="Edit" asp-route-id="@Model.id_empresa" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
