@model SionFashioWebApplicationMVC.Models.empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion_empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono_empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono_empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email_empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email_empresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_empresa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
